*{margin: 0; padding: 0; box-sizing: border-box;} 

input, select, textarea{
    font: 1.2em/1.5 sans-serif;
    margin: 10px;
    padding: 10px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    
    border: 1px solid tomato;

}body{
    font-family: sans-serif;
}
body{
    padding: 5%;
    text-align: center;
}
h1{
    color: tomato;
}
a{
    text-decoration: none;
    color: tomato;
    display: inline-block;
}
select{
    width: 265px;
}
form{
    background: rgba(0,0,0,.1);
    width: 360px;
    margin: 0 auto; 
    padding: 20px;
    box-shadow: 0 0 2px tomato; 
    text-align: center; 
}
form#forgot{
    width: 70%;
}
input[type="submit"]{
    
    border:none;
    padding: 10px;
    width:  40%;
    background: tomato;
    color:#fff;
}
label{
    margin:30px;
    
}
input[type="checkbox"]{
    width: 5%;
}
div.formExtra{
    text-align: right;
    
   width: 90%; 
}
.signup{
    background: rgba(255,102,0,.2);
    border-radius: 3px;
    padding: 10px;
    width: 38%;
    text-align: center;
    
}

.forgot{
    color: #555555;
}
@-webkit-keyframes mensaje{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.msg_2{
   
    color: red;
    -webkit-animation: mensaje 2s infinite;
   
}
.msg_3{color: #339900; font-weight: bold;}
/*PÁGINAS INTERIORES*/
header, main{
    width: 80%;
    margin: 0 auto;
}
header{
    background: #ccffcc;
    height: 80px;
    line-height: 60px;
    overflow: hidden;
    padding: 10px;
}
header a{
    text-decoration: none;
    color: #339900;
}
header h1{
    float: left;
    width:30%;
}
header nav{
    float:right;
    width:70%;
    text-align: right;
}
header nav li{
    list-style: none;
    display: inline-block;
    line-height: 32px;
   
}
header nav li:not(:first-child){
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #339900;
}
main:not(#login){padding: 2%;}
